- if flash[:notice]
  .alert-message.info
    %div= flash[:notice]


- if flash[:error]
  .alert-message.error
    %div= flash[:error]

- if flash[:alert]
  .alert-message.warning
    %div= flash[:alert]
